<header class="header">
    <a href="/" class="header__logo">Santo Terço Blog</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a target="_blank" href="https://santoterco.vercel.app/pages/sobre/sobre.html" class="">Sobre</a>
            </li>         
        </ul>
    </nav>

    <div class="header__button">
        <button class="searchBtn" aria-expanded="false">
            Procurar
            <img class="img-lupa" src="/img/search.png" alt="search-icon">
        </button>
    </div>
</header>