<div class="author">
    <h1 class="author__heading">Seu blog católico!</h1>
    <!-- <p class="author__body">Desenvolvedor Web</p> -->
</div>

<div class="center-img">
    <img src="/img/icon.png" alt="rosary icon" class="hero-image">
</div>


<section class="articles">
    <h2 class="articles__heading">Últimos Posts</h2>
    <ul class="article-ul">
        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>"> 
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString()  %></span>
            </a>
        </li>
        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; Ver mais antigos</a>
    <% } %>



</section>